body{
    background-color: lightgoldenrodyellow
}


.jumbotron  {
    background-color: lightblue;
    border: 2px black solid;
    box-shadow: 15px 10px 10px darkgray;
}

.link-text  {
    font-weight: bold;
    font-size: 20px;
}

h1{
    font-family: Cursive;
    font-weight: bold;
    font-size: 80px;
    color: darkgoldenrod;
}

h2{
    font-size: 30px;
}

#survey-questions   {
    color: rgb(22, 68, 167);
    font-weight: bold;
}
